<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.VoucherOrderMapper">
    <insert id="addVoucherOrder">
        insert into tb_voucher_order(id, user_id, voucher_id,
                                     create_time,
                                     update_time
                                     )
        VALUES
    (
            #{id},
            #{userId},
            #{voucherId},
            now(),
            now()
    )
    </insert>
    <update id="updateSeckillVoucherById">
        update tb_seckill_voucher set stock = (stock - 1)
        where voucher_id = #{voucherId}
          <!-- 悲观锁，牺牲性能获取准确性 -->
        and stock > 0
          <!-- 乐观锁：准确性低，但是性能高
          增加查询条件，以保证不会出现超卖情况 -->
        <!-- and stock = #{stock} -->
    </update>

    <select id="querySeckillVoucherById" resultType="com.example.entity.SeckillVoucher">
        select voucher_id as voucherId,
               stock as stock,
               create_time as createTime,
               begin_time as beginTime,
               end_time as endTime,
               update_time as updateTime
        from tb_seckill_voucher
        where voucher_id = #{id}
    </select>
    <select id="queryVoucherOrderByUserIdAndVoucherId" resultType="com.example.entity.VoucherOrder">
        select id AS id,
               user_id AS userId,
               voucher_id AS voucherId,
               create_time AS createTime,
               update_time AS updateTime
        from tb_voucher_order
        where user_id = #{userId}
        and voucher_id = #{voucherId}
    </select>
</mapper>